apiVersion: v1
kind: Service
metadata:
  name: sentiment-api-service
  namespace: default
  labels:
    app: sentiment-api
spec:
  selector:
    app: sentiment-api
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  type: LoadBalancer